@media (max-width: 440px) {
    .container {
        padding: 5px;
    }

    .calculator {
        max-width: 300px;
        padding: 10px;
        margin: 0 10px;
    }

    #display {
        height: 45px;
        max-width: 300px;
        font-size: 18px;
        padding-right: 5px;
    }

    .buttons {
        gap: 10px;
    }

    button {
        padding: 20px;
        font-size: 14px;
    
    }

    .theme-toggle {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }
}
